.app {

    background: #F5F5F5;
    width: 100%;
    height: 100%;
}

.encabezado {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
    width: 100%;
    height: auto;
    background: #FFFFFF;
}

.encabezado_barra {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    gap: 3rem;
    width: 50%;
    height: 90px;
    margin-left: 5%;
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.encabezado_barra_contenedor {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    
}


.encabezado_barra_logo {

    width: 30%;
    height: 3rem;
    order: 0;
    flex-grow: 0;
    margin-right: 1rem;

}

.encabezado_barra_contenedor_search {

    width: 60%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    background: #F5F5F5;
    gap: 0.5rem;
    justify-content: center;
    
}

.encabezado_barra_lupa {

    width: 24px;
    height: 24px;
    background: #F5F5F5;
    
}

.encabezado_barra_busquedad {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
    height: 24px;
    background: #F5F5F5;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 0;
    border: none;
    
}

.contenido {

    width: 100%;
    height: auto;
}

.contenido_productos {

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contenido_productos_titulo {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 10px 0;
}

.contenido_productos_titulo h1 {

    width: fit-content;
    height: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
}

.contenido_titulo_btn {

    
    width: fit-content;
    height: 50px;
    justify-content: center;
    padding: 1rem;
    gap: 0.7rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #FFFFFF;
    background: #2A7AE4;
    border: none;

}

.contenido_titulo_btn:hover {

    font-weight: 700;
    border: 1px solid #2ae481;
    background: #9dcfe0;
    border-radius: 10px;
    color: #464646;
}

.contenido_productos_productos {

    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: auto auto auto;
    margin-top: 3%;
    
}

.productos_destacados {

    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 10px 0;
}

.productos_destacados_edit {

    height: 131px;
    position: relative;
    background-size: cover;
    
}

#producto1 { background-image: url(../IMG/img1_st_vaso.png);}
#producto2 { background-image: url(../IMG/img2_st_fig_darkvader.png);}
#producto3 { background-image: url(../IMG/img3_st_fig_yoda.png);}
#producto4 { background-image: url(../IMG/img4_st_fig_troper.png);}
#producto5 { background-image: url(../IMG/img5_st_fig_yoda_bebe.png);}
#producto6 { background-image: url(../IMG/img6_st_fig_on.png);}
#producto7 { background-image: url(../IMG/control_xbox.png);}
#producto8 { background-image: url(../IMG/consola_xbox.png);}
#producto9 { background-image: url(../IMG/consola_nintendo.png);}
#producto10 { background-image: url(../IMG/control_wii.png);}
#producto11{ background-image: url(../IMG/parlante.png);}
#producto12 { background-image: url(../IMG/gameboy.png);}
#producto13 { background-image: url(../IMG/Camisa_Atari.png);}
#producto14 { background-image: url(../IMG/camisa_snes.png);}
#producto15 { background-image: url(../IMG/fig_sonic.png);}
#producto16 { background-image: url(../IMG/radio_retro.png);}
#producto17 { background-image: url(../IMG/gafas_realidadVt.png);}
#producto18 { background-image: url(../IMG/peluche_picachu.png);}



.productos_destacados_edit_borrar {

    position: absolute;
    top: 1%;
    left: 60%;
}

.productos_destacados_edit_editar {

    position: absolute;
    top: 1%;
    left: 80%;
}

.productos_destacados_img {

    width: 100%;
    
}

.productos_destacados h3 {

    width: fit-content;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: #464646;
}

.productos_destacados h2 {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #464646;
}

.productos_destacados h4 {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #464646;
}


.rodapie {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: auto;
    background: #EAF2FD;
}

.info_contacto {

    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.info_contacto_logo {

    width: 20%;
    align-items: flex-start;
    margin-top: 0;
    margin-right: 10%;
}

.info_contacto_corporativo {

    width: 40%;
    height: auto;
    align-items: flex-start;
    padding: 0;
    gap: 1.5rem;
    justify-content: center;

}

.info_contacto_corporativo h3 {

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 2rem;
color: #464646;
}

.info_contacto_formulario {

    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.formulario {

    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 0.7rem;
}
.formulario label {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.formulario_btn {

    width: 8rem;
    height: 3rem;
    align-items: center;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #FFFFFF;
}

.rodapie_autor {

    width: 100%;
    height: 6rem;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodapie_autor h4 {
    
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #464646;
    
}
/*formato tablet*/

@media only screen and (min-width: 401px) and (max-width: 768px) {

    
    .contenido_productos_productos {

        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        margin-top: 3%;
        
    }
    
    .info_contacto {
        width: 100%;
        height: 233px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .info_contacto_logo {
        width: 40%;
        margin-right: 5%;
    }

    .info_contacto_formulario {
        height: 233px;
    }
      
}

/* formato cel*/

@media screen and (max-width:400px) {

    
    .encabezado_barra {

        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
    
    .encabezado_barra_contenedor {

        width: 100%;
    }

    .encabezado_barra_contenedor_search {

        width: 24px;
        order: 2;
        justify-content: end;
    }

    .encabezado_barra_busquedad {

        display: none;
    }

    .contenido_productos_titulo {

        flex-direction: column;
        gap: 0.8rem;
    }

    .contenido_productos_productos {

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        margin-top: 3%;
        
    }

    
    .info_contacto {
        width: 100%;
        height: 430px;
        flex-direction: column;
    }

    .info_contacto_logo {

        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .info_contacto_corporativo {

        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .info_contacto_formulario {

        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .rodapie_autor {

        height: 3rem;
    }

}